<app-menu></app-menu>

<div class="main">
    <div class="container">
        <div class="row mt-5">
            <div class="col-4">
                <app-income-card></app-income-card>
            </div>
            <div class="col-4">
                <app-expenses-card></app-expenses-card>
            </div>
            <div class="col-4">
                <app-balance-card></app-balance-card>
            </div>
        </div>
    </div>
    <app-income-list></app-income-list>
    <app-expenses-list></app-expenses-list>
</div>

<app-footer></app-footer>